@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');
*{
   box-sizing: border-box;
   font-family: 'Share Tech Mono', monospace;
}
body{
   margin: 0;
   -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
}
#input{
   width: 200%;
   font-size: 1.8em;
   color: white;
   background-color: darkseagreen;
   border: none;
   overflow: auto;
   padding: 0.5em;
}
#keyboard{
   width: 38em;
   margin: auto;
}
button{
   margin: 0.42em;
   width: 2em;
   height: 2em;
   font-size: 1.1em;
   background-color: khaki;
   border: none;
}
button:hover{
   background-color:peru;
   color: white;
}
.clearbtn{
   width: 32em;
}
#space{
   width: 5.3em;
}

.timer-container {
    text-align: center;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
  }